aiohttp==3.9.0
aiosignal==1.3.1
alembic==1.8.1
async-timeout==4.0.2
attrs==22.1.0
base58==2.1.1
bidict==0.22.0
bitarray==2.6.0
blinker==1.5
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
cytoolz==0.12.0
dnspython==2.2.1
email-validator==1.3.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
eventlet==0.33.1
exceptiongroup==1.0.1
Flask==2.3.2
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-Migrate==4.0.0
Flask-SocketIO==5.3.1
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
frozenlist==1.3.3
gevent==22.10.2
gevent-websocket==0.10.1
googlemaps==4.7.0
greenlet==2.0.1
hexbytes==0.3.0
idna==3.4
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
lru-dict==1.1.8
Mako==1.2.4
MarkupSafe==2.1.1
multiaddr==0.0.9
multidict==6.0.3
netaddr==0.8.0
packaging==21.3
parsimonious==0.8.1
pluggy==1.0.0
protobuf==3.19.5
pycryptodome==3.19.1
PyJWT==2.6.0
pyparsing==3.0.9
pyrsistent==0.19.2
pytest==7.2.0
python-dotenv==0.21.0
python-engineio==4.3.4
python-socketio==5.7.2
requests==2.31.0
rlp==2.0.1
six==1.16.0
SQLAlchemy==1.4.43
tomli==2.0.1
toolz==0.12.0
urllib3==1.26.12
varint==1.0.2
web3==5.31.3
websockets==9.1
Werkzeug==2.2.3
WTForms==3.0.1
yarl==1.8.2
zope.event==4.5.0
zope.interface==5.5.1
