<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.js"></script>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket = io.connect("http://127.0.0.1:5000/");

            socket.on('connect', function() {
                socket.send({message:"User Connected",room:'{{room}}'})
                socket.emit('join',{username:"{{user}}",room:'{{room}}'})
            });
            socket.on('message', function(data) {
                if(data.message == "has enterd the chat"){
                    $(".messages").append(`<div class="received">${data.user} ${data.message}</div>`);
                }
                else if( data.user==='{{user}}'){
                    $(".messages").append(`<div class="sent"> [${data.user}] ${data.message}</div>`);
                }
                else{
                    $(".messages").append(`<div class="received"> [${data.user}] ${data.message}</div>`);
                }
            });

            $('#send_msg').on('click',function() {
                socket.emit('message',{message:$('#message').val(),room:'{{room}}'});
                $('#message').val("")
            })
            
            $("#send-message").submit(function(e) {
                e.preventDefault();
            });

        });
    </script>

</head>
<body>

    <!-- Main container -->
<div class="container">
    <div class="messages">
      
    </div>
    <form id="send-message">
      <input
        type="text"
        id="message"
        placeholder="Enter your message..."
        autocomplete="off"
      />
      <button id="send_msg" type="submit"><i class="fas fa-paper-plane"></i></button>
    </form>
  </div>

  <div class="toast">Hey, I'm here at the Top-right</div>
    
</body>
</html>