{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}		
	<div class="slider_wrapper ">
		<div id="camera_wrap" class="">
			<div data-src="{{ url_for('static', filename='images/DTU-Campus.jpg') }}" ></div>
			<div data-src="{{ url_for('static', filename='images/dtu2.jpg') }}" ></div>
			<div data-src="{{ url_for('static', filename='images/dtu3.png') }}" ></div>
			
		</div>
	</div>
	<div class="container_12">
		<div class="grid_4">
			<div class="banner">
				<div class="maxheight">
					<div class="banner_title">
						<img src="{{ url_for('static', filename='images/icon1.png') }}", alt="icon1">
						<div class="extra_wrapper">Fast &amp;
							<div class="color1">Safe</div>
						</div>
					</div>
					We provide cabs with fastest rate.
					All the drivers are registered.
				</div>
			</div>
		</div>
		<div class="grid_4">
			<div class="banner">
				<div class="maxheight">
					<div class="banner_title">
						<img src="{{ url_for('static', filename='images/icon2.png') }}", alt="icon2">
						<div class="extra_wrapper">Best
							<div class="color1">Prices</div>
						</div>
					</div>
					Our aim is to provide customers with the minimum possible cost.
				</div>
			</div>
		</div>
		<div class="grid_4">
			<div class="banner">
				<div class="maxheight">
					<div class="banner_title">
						<img src="{{ url_for('static', filename='images/icon5.jpg') }}", alt="icon5">
						<div class="extra_wrapper"> Choose
							<div class="color1">riders</div>
						</div>
					</div>
					We provide you the names of fellow passengers and a platform for communication between all the riders.
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

<!--==============================Content=================================-->
	<div class="content"><div class="ic"></div>
		<div class="container_12">
			<div class="grid_5">
				<h3>Book a cab</h3>
				<form id="bookingForm" method = "POST">
					
					<div class="tmInput mr0">
						<input name="destination" id="destination" placeHolder="To:" type="text" data-constraints="@NotEmpty @Required">
						<script>
						function initMap() {
							var input = document.getElementById('destination');

							var autocomplete = new google.maps.places.Autocomplete(input);

							autocomplete.addListener('place_changed', function() {
								var place = autocomplete.getPlace();
								console.log(place);
							});
						}
						</script>
						<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR9lt1hVQn_oWnGFAs9vP_yyZ-ORaVGz0=initMap"></script>
					</div>

					<div class="clear"></div>
					<strong>Time</strong>
					<div class="tmInput">
						<input name="time" id="tmtime" type="text" data-constraints="@NotEmpty @Required">
							<script>
								var today = new Date();
								var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
								document.getElementById("tmtime").value = time;
						</script>
					</div>
					<div class="clear"></div>
					<strong>Date</strong>
					<label class="tmDatepicker">
						<input type="text" name="Date"  id="tmdate" data-constraints="@NotEmpty @Required @Date">
						<script>
								var today = new Date();
								var date = today.getDate() + '/' + (today.getMonth()+1) + '/' + today.getFullYear();
								document.getElementById("tmdate").value = date;
						</script>
					</label>
					<div class="clear"></div>
					<!-- <a href="/addRequest" class="btn" data-type="submit">Submit</a> -->
					<input type="submit" class="btn">

					{%if messages%}
						{%for message in messages%}
							<p style="color: green;">{{message}}</p>
						{%endfor%}
					{%endif%}

				</form>
			</div>
			<div class="grid_6 prefix_1">
				<div class="type"><img src="{{ url_for('static', filename='images/page1_img1.jpg') }}" alt=""><span class="type_caption">Book Cab</span></div>
				<div class="type"><img src="{{ url_for('static', filename='images/dtutoramaecl.png') }}" alt=""><span class="type_caption">Live Location</span></div>
				<div class="type"><img src="{{ url_for('static', filename='images/comm.jpg') }}" alt=""><span class="type_caption">Share stories</span></div>
			</div>  
			<div class="clear"></div>
		</div>
	</div>
</div>

{% endblock %}