{% extends 'base.html' %}

{% block  title %} Services {% endblock  %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>
{% endblock %}

{% block body %}

    <div class="content">
            <div class="ic"></div>
            <div class="container_12">
                <div class="grid_12">
                    <h3>Services Overview</h3>
                </div>



                <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
                
                <!-- Snippet -->
                <section class="flex w-full flex-col justify-center antialiased bg-gray-100 text-gray-600  p-1 mb-8">
                    <div class="h-full">
                        <!-- Table -->
                        <div class="w-full  mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                            <header class="px-5 py-4 border-b border-gray-100">
                                <h2 class="font-semibold text-gray-800"> Your Bookings</h2>
                            </header>
                            <div class="p-3">
                                <div class="overflow-x-auto">
                                    <table class="table-auto w-full">
                                        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                                                            
                                            <tr>
                                                <th class="p-2 whitespace-nowrap">
                                                    <div class="font-semibold text-left">Destination</div>
                                                </th>
                                                <th class="p-2 whitespace-nowrap">
                                                    <div class="font-semibold text-left">Group</div>
                                                </th>
                                                <th class="p-2 whitespace-nowrap">
                                                    <div class="font-semibold text-left">Fare</div>
                                                </th>
                                                <th class="p-2 whitespace-nowrap">
                                                    <div class="font-semibold text-center">Status</div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-sm divide-y divide-gray-100">
                                            

                                            {%if bookings%}

                                                {%for booking in bookings%}
                                                
                                                        <tr>
                                                            <td class="p-2 whitespace-nowrap">
                                                                <div class="flex items-center">
                                                                    <style>
                                                                        .tire{
                                                                            cursor: pointer;
                                                                            font-weight: bolder;
                                                                        }
                                                                        .tire:hover{
                                                                            color: green;
                                                                            transition: 0ms;
                                                                        }
                                                                    </style>
                                                                    {%if booking.status == 1 or booking.status == 2%}
                                                                        <a href="{{ url_for('views.detail_group',pk=booking.group) }}" class="tire font-medium text-gray-800">{{booking.destination}}</a>
                                                                    {%else%}
                                                                        <a class="tire font-medium text-gray-800">{{booking.destination}}</a>
                                                                    {%endif%}
                                                                </div>
                                                            </td>
                                                            <td class="p-2 whitespace-nowrap">
                                                                {%if booking.status == 1%}
                                                                    <div class="text-left" style="color: orange;">Accepted</div>
                                                                    {%else%}
                                                                    <div class="text-left" style="color: green;">searching groups</div>
                                                                    {%endif%}
                                                                    
                                                                </td>
                                                                <td class="p-2 whitespace-nowrap">
                                                                    {%if booking.status == 1%}
                                                                    <div class="text-left font-medium text-green-500">₹{{booking.cost}}</div>
                                                                    {%elif booking.status == 2%}
                                                                    <div class="text-left font-medium text-green-500">PAID</div>
                                                                    {%else%}
                                                                    <div class="text-left font-medium text-green-500" style="color: red;">0</div>
                                                                    {%endif%}														
                                                                </td>
                                                                <td class="p-2 whitespace-nowrap">
                                                                    {%if booking.status == 0%}
                                                                        <div class="text-lg text-center" style="color: red;">ongoing</div>
                                                                    {%elif booking.status == 1%}
                                                                        <button class="btn btn-primary .pay" id="{{booking.booking_hash}}" style="width: 100%;">Pay</button>
                                                                        <script>
                                                                                $("#{{booking.booking_hash}}").click(()=>{
                                                                                    payBooking("{{booking.booking_hash}}",{{booking.cost}});
                                                                                })
                                                                        </script>
                                                                    {%elif booking.status == 2%}
                                                                        <div class="text-lg text-center" style="color: green;">Cab Booked</div>
                                                                    {%endif%}
                                                                    
                                                                </td>
                                                            </tr>
                                                        
                                                        
                                                        {%endfor%}

                                            {%else%}
                                                    <div>
                                                        <p style="color: red;">No current bookings</p>
                                                    </div>
                                            {%endif%}
                                            
                                                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="grid_4">
                    <div class="box">
                        <div class="maxheight">
                            <img src="{{ url_for('static', filename='images/page4_img4.jpg') }}" , alt="page4_img4">
                            <div class="text1 color2">
                                <div>Fastest route.</div>
                            </div>
                            Aim of this project is to provide passengers with the fastest paths. This is done through a
                            dynamic programming based approach.
                            <br>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="box">
                        <div class="maxheight">
                            <img src="{{ url_for('static', filename='images/cost1.jpg') }}" , alt="cost1">
                            <div class="text1 color2">
                                <div> Minimum Cost</div>
                            </div>
                            Another aim of this project is to make rides cost effective for all the passengers. We have
                            designed this website to demonstrate the same.
                            <br>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="box">
                        <div class="maxheight">
                            <img src="{{ url_for('static', filename='images/serv1.jpg') }}" , alt="serv1">
                            <div class="text1 color2">
                                <div>Communicate with others </div>
                            </div>
                            A communication platform is embedded within the project. A group chat thread will be created
                            for all the persons within the same cab.
                            <br>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/Web3Payments.js') }}"></script>
{% endblock %}